﻿
@{
    ViewData["Title"] = "Home Page";
    var userName = ViewData["UserName"];
    var products = ViewData["Products"] as List<CloudDevelopment.Models.productTable>;
    var transactions = ViewData["Transactions"] as List<CloudDevelopment.Models.transactionTable>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2></h2>

@if (userName != null)
{
    <p>Login Profile: @userName</p>
}

<h2>All Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>@product.Availability</td>
                <td>
                    <form asp-controller="Transaction" asp-action="PlaceOrder" method="post">
                        <input type="hidden" name="userName" value="@userName" />
                        <input type="hidden" name="productID" value="@product.ProductID" />
                        <button type="submit">Place Order</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Transactions</h2>
@if (transactions != null && transactions.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>UserName</th>
                <th>Product ID</th>
                </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.TransactionID</td>
                    <td>@transaction.UserName</td>
                    <td>@transaction.ProductID</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No transactions found.</p>
}
